  span.thumb.active{
  	background-color: #c01919
  }

input[type=range]::-webkit-slider-thumb {
    background-color:  #c01919;
  }
  input[type=range]::-moz-range-thumb {
    background-color:  #c01919;
  }
  input[type=range]::-ms-thumb {
    background-color:  #c01919;
  }

   .input-field .active{
	   color: #c01919 !important;
   }
   /* label focus color */
   .input-field input:focus + label, .input-field textarea:focus + label {
     color: #c01919 !important;
   }
   /* label underline focus color */
   .input-field input:focus, .input-field textarea:focus{
     border-bottom: 1px solid #c01919 !important;
     box-shadow: 0 1px 0 0 #c01919!important;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #c01919 !important;
     box-shadow: 0 1px 0 0 #c01919 !important;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid black !important;
     box-shadow: 0 1px 0 0 black !important;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #c01919 !important;
   }
   
[type="checkbox"]:checked+label:before{
	border-right: 2px solid #c01919;
	border-bottom: 2px solid #c01919;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
	border: 2px solid #c01919;
	background-color: #c01919;
}

[type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after {
    border: 2px solid #eeeeee;
}

[type="checkbox"]+label:before, [type="checkbox"]:not(.filled-in)+label:after {
	border: 2px solid #eeeeee;
}

.btn{
	width: 30%;
}
.btn:hover{
	background-color: #404040;
}
