body {
	background-color: #212121;

	color: #404040;
	font-family: 'Open Sans', sans-serif;
    	font-style: bold;
	}


h1 {
	letter-spacing: .02em;
	color: #000000;
	font-size: 35px;
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 1.5em;
}

	
h2 {
	margin: 25px 0;
	padding-top: 25px;

	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: .01em;
	font-weight: normal;
	font-size: 30px;
	color: #000000;
	line-height: 1.5em;
	}

h3 {
	margin: 20px 0;
	padding-top: 25px;

	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: .01em;
	font-weight: normal;
	font-size: 25px;
	color: #000000;
	}

p {
	margin: 1.6em auto;

	letter-spacing: .02em;
	line-height: 2em;
	font-size: small;
	}


ol {padding-left: 15px;}

ul {padding-left: 15px;}


a {
	color: #7c7c7c;
	text-decoration: none;
	}



a:hover {color: #c01919;}

section {
    min-height: 100vh; /* required - makes the sections act like pages */
    padding-top: 6vh; /* how tall is the persistent nav bar at the top? */
    padding-bottom: 4vh; /* typical - keep content away from the next section */
}

.navbar-fixed {
	position: fixed; /* required - magic */
	top: 0; /* required - makes sure the menu sits where it's supposed to sit */
	z-index: 1000; /* required - makes sure the menu doesn't get covered by anything else */
	width: 100%; /* required - makes the menu go all the way across the viewport */
	letter-spacing: 1.2px;

}

.container {
	margin: 0 auto;
	width: 85%;
	max-width: 1000px;
	height: 100%;
	background-color: #ffffff;
	padding: 15px;

	
	}


article, aside {display: table-cell;}
article {
	width: 55%;
	padding-bottom: 5%;
	padding-right: 15%;
	}

aside {
	width: 45%;
	padding-left: 40px;
	vertical-align: top;
	}


footer {
	font-size: smaller;
}


.btn {
    padding: 5px 10px !important;
    background-color: #c01919;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px !important;
    font-weight: bold;
    letter-spacing: .05em;
}


header {text-align: center;}

header div {
	font-size: small;
}


@font-face {
	font-family: BebasNeue;
	src: url("fonts/BebasNeueBook.otf") format("opentype"); 
}


html {
    font-family: BebasNeue;   
  }

body {
	background-color: white;
}

.container {
	background-color: #ffffff;
	
}

/* Navbar Section */

.navbar-fixed {
	font-family: BebasNeue;
	background-color: #000000;
	opacity:0.8;
}

.navbar-fixed a{
	font-size: 25px;
	letter-spacing: 3px;
}

nav .active a{
	font-family: BebasNeue;
	font-size: 60px;
	color: #ffffff;
	border-top: 5px solid #c01919;
}

/*.navbar-fixed a.left{
	font-family: BebasNeue;
	font-size: 50px;
	padding-left: 20px;
	letter-spacing: 15px;
}*/


/* Shoes Section */

#Shoes {
	padding: 190px;
	background-color: #ffffff;
}

h1 {
	font-family: BebasNeue;
	text-transform: uppercase;
	font-size: 80px;
	letter-spacing: 6px;
	text-align: center;
	padding-top: 55px;
}

h1 span.highlight{
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-bottom-color: #c01919;

}

/* Overview Section */

#Overview {
	padding-left: 130px;
	padding-right: 130px;
	padding-top: 30px;
	padding-bottom: 30px;
}
#Overview .first{
	border-top: 1px solid #000000;
	padding-top: 90px;

}

#Overview h2 {
	font-family: BebasNeue;
	font-size: 40px;
	padding-top: 25px;
	letter-spacing: 5px;
	color: #8c8c8c;
	
}

#Overview h2 span.highlight{
	color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-bottom-color: #c01919;

}

#Overview p {
	font-family: sans-serif;
	font-size: 15px;
	letter-spacing: 1.6px;
	line-height: 1.6;
}

/* Brands Section */

#Brands {
	padding:30px;
}

#Brands h2{
	font-family: BebasNeue;
	font-size: 50px;
	letter-spacing: 6px;
	word-spacing: 10px;
	padding-top: 80px;
	border-top: 1px solid #000000;
	color: #8c8c8c;

}

#Brands h2 span.highlight{
	color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-bottom-color: #c01919;
}

#Brands .row .col {
	position: relative;
    
}

#Brands .row .col img{
	width: 140%;
	padding: 30px;
	padding-top: 80px;
	padding-bottom: 10px;
	transition: .5s ease;
	backface-visibility: hidden;
	opacity: 1;

}

#Brands .row .col .middle {
	opacity: 0;
	transition: .5s ease;
 	position: absolute;
 	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

#Brands .row .col .text {
	font-family: BebasNeue;
 	color: #c01919;
  	font-size: 37px;
  	letter-spacing: 2px;
  	text-align: center;
  	
}

#Brands .row .col:hover img{
	opacity:0.2;
}

#Brands .row .col:hover .middle{
	opacity: 1;
}


/* Styles Section */

#Styles .first{
	border-top: 1px solid #000000;
	padding-top: 40px;
}

#Styles h2 {
	font-family: BebasNeue;
	font-size: 70px;
	letter-spacing: 10px;
	color: #8c8c8c;
}

#Styles h2 span.highlight{
	color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-bottom-color: #c01919;

}

#Styles li{
	font-family: sans-serif;
	font-size: 15px;
	letter-spacing: 3px;
	padding: 20px;
	text-transform: uppercase;
	font-weight: bold;

}

#Styles .row .col {
	position: relative;
    
}

#Styles .row .col img{
	width: 140%;
	padding: 30px;
	padding-top: 80px;
	padding-bottom: 10px;
	transition: .5s ease;
	backface-visibility: hidden;
	opacity: 1;

}

#Styles .row .col .middle {
	opacity: 0;
	transition: .5s ease;
 	position: absolute;
 	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

#Styles .row .col .text {
	font-family: BebasNeue;
 	color: black;
  	font-size: 37px;
  	letter-spacing: 2px;
  	text-align: center;
  	
}

#Styles .row .col:hover img{
	opacity:0.2;
}

#Styles .row .col:hover .middle{
	opacity: 1;
}

/* Survey Section */

#Survey .first{
	border-top: 1px solid #000000;
	padding-top: 30px;
	padding-bottom: 20px;
}

#Survey h2{
	font-family: BebasNeue;
	font-size: 50px;
	letter-spacing: 5px;
	color: #8c8c8c;

}

#Survey form h3{
	font-family: BebasNeue;
	font-size: 40px;
	letter-spacing: 2px;
	padding-left: 5px;
	padding-bottom: 10px;
	opacity: 0.5;

}

#Survey h2 span.highlight{
	color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-bottom-color: #c01919;

}

table {
	border: none;
	margin: 3%;
}

th, td {
	padding: 1%;
	text-align: center;
}

table, th, td {
    border: 1px solid black;
}

tr:first-child {
	background-color: black;
	color: white;
	font-family: BebasNeue, sans-serif;
}

tr:hover {background-color: #f5f5f5;}

footer .info {
	padding-top: 20px;
	padding-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
}

footer .info .highlight{
	color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #c01919;

}



