body {
	background-color: #212121;

	color: #404040;
	font-family: 'Open Sans', sans-serif;
    	font-style: bold;
	}


h1 {
	letter-spacing: .02em;
	color: #000000;
	font-size: 35px;
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 1.5em;
}

	
h2 {
	margin: 25px 0;
	padding-top: 25px;

	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: .01em;
	font-weight: normal;
	font-size: 30px;
	color: #000000;
	line-height: 1.5em;
	}

h3 {
	margin: 20px 0;
	padding-top: 25px;

	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: .01em;
	font-weight: normal;
	font-size: 25px;
	color: #000000;
	}

p {
	margin: 1.6em auto;

	letter-spacing: .02em;
	line-height: 2em;
	font-size: small;
	}


ol {padding-left: 15px;}

ul {padding-left: 15px;}


a {
	color: #7c7c7c;
	text-decoration: none;
	}

a:hover {color: #c01919;}


.container {
	margin: 0 auto;
	width: 85%;
	max-width: 1000px;
	height: 100%;
	background-color: #ffffff;
	padding: 15px;

	
	}


article, aside {display: table-cell;}
article {
	width: 55%;
	padding-bottom: 5%;
	padding-right: 15%;
	}

aside {
	width: 45%;
	padding-left: 40px;
	vertical-align: top;
	}


footer {
	font-size: smaller;
}


.btn {
    padding: 5px 10px !important;
    background-color: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px !important;
    font-weight: bold;
    letter-spacing: .05em;
}


header {text-align: center;}

header div {
	font-size: small;
}




