/*****************************BASE STYLES*************************/

body {
	background-color: #e1b79a;
	color: #331b0b;
	font-family: 'Open Sans', sans-serif;
    font-style: bold;
    line-height: 1.7em;
	letter-spacing: .01em;
	}
h1 {
	letter-spacing: .02em;
	color: #384365;
	}
h2 {
	margin: 20px 0;
	padding-top: 25px;
	font-family: 'Slabo 27px', serif;
	letter-spacing: .01em;
	font-weight: normal;
	color: #384365;
	}
h3 {
	margin: 20px 0;
	padding-top: 25px;
	font-family: 'Slabo 27px', serif;
	letter-spacing: .01em;
	font-weight: normal;
	color: #384365;
	}
p {
	margin-top: 0px;
	letter-spacing: .01em;
	}
ol {padding-left: 15px;}
ul {padding-left: 15px;}
a {
	color: #982510;
	text-decoration: none;
	}
a:hover {color: #81411c;}

.container {
	margin: 0 auto;
	width: 80%;
	max-width: 960px;
	}

article, aside {display: table-cell;}
article {
	width: 55%;
	padding-bottom: 5%;
	padding-right: 10%;
	}
aside {
	width: 45%;
	padding-left: 40px;
	/*vertical-align: top;*/
	}